@charset "utf-8";

$tb: 769px;
$mb: 321px;

@mixin tablet {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

.new-task {
  width: 100%;
  margin: 0 auto;

  .new-task-form {
    color: #555555;

    @include tablet {
      padding: 20px 0px 0px 20px;
    }

    .new-task-select-list, .new-task-title, .new-task-detail {
      width: 300px;
      margin-bottom: 25px;

      @include mobile {
        width: 80%;
      }
    }

    .new-task-detail {
      height: 200px;
    }

    .new-task-limit {
      display: block;
      margin-bottom: 25px;
      width: 300px;
      @include mobile {
        width: 80%;
      }
    }

    .new-task-button {
      background-color: #242F9B;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }

    .error-message {
      color: #ff3333;
    }
  }
}